.reveal section img {
  border: 0;
  box-shadow: none;
  background: rgba(255, 255, 255, 0)
}

.gist {
  font-size: 32px;
}

#gp-logo>img {
  width: 150px;
}

.reveal pre {
  width: 1000px;
}

/* front page logo
as long as the title alt text is exactly "iot in africa 2017"

:-/
*/
#iot-in-africa-2017 + p>img{
  height:200px;
}

.reveal pre + blockquote {
  width: 33%;
  padding: 0;
  margin-right: 0px;
  margin-top: 0px;
}

.reveal pre + blockquote>p{
  font-size: 22px; /* is this right? */
}

reveal .slides {	
  text-align: left;
}

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}